.u-none{
    text-decoration: none;
}

.link-card{
    background-color: white;
    margin: 20px auto;
    display: block;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px 1px rgba(0,0,0,0.5);
    width: 700px;
    position: relative;
}

.link-card-title{
    margin: 0;
}

.link-card-target{
    margin:3px auto;
    text-decoration: none;
    display: block;
}

.link-card-short-url{
    text-decoration: none;
    margin:3px auto;
    display: block;
    color: #ff3363;
}

.link-key{
    font-size: 15px;
    color: #000;
    margin-right: 10px;
    font-weight: bold;
}

.link-card-views{
position: absolute;
right: 10px;
top: 10px;
font-size: 20px !important;
font-size: 5px;
}

.link-card-view-text{
 position: absolute;
 top:34px;
 font-size: 14px;
 right: 10px;

}

.link-card-date{
    position: absolute;
    bottom: 10px;
    right:20px;
    font-size: 14px;
   
   
}